/BTVN_Slot1/nbproject/private/
/BTVN_Slot1/build/
/BTVN_02/nbproject/private/
/BTVN_02/build/
/Slot3/nbproject/private/
/Slot3/build/
/Slot3/dist/
/BTVN_CRUB_FunnyCOde/nbproject/private/
/BTVN_CRUB_FunnyCOde/build/
